body {
   font-family: "Roboto", sans-serif;
   margin: 0;
}

h1, h2 {
   font-family: "Pattaya", sans-serif;
}

/*
*
** BLOCK ELEMENT MODIFIER
*
*/

.btn--red {
  background-color: #ff1919;
}

.btn--cta {
  border-color: black;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

.row--marginBottom {
   margin-bottom: 25px
}

.block-divider {
   width: 60px;
   height: 3px;
   border: 0;
   background-color: #ffa500;
}

.row__col-xs-12--padding-zero {
  padding: 0px;
}

@media (min-width: 768px) {
  .flex {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.info {
  margin-bottom: 35px;
}

/*
*
** HEADER
*
*/

.navbar {
   background: transparent;
   margin-bottom: 0;
   position: absolute;
   width: 100%;
   border: 0;
}

.navbar-default .navbar-brand {
   font-family: "Pattaya", sans-serif;
   font-size: 1.75em;
   color: white;

   -ms-transform: rotate(-8deg);
   -webkit-transform: rotate(-8deg);
   transform: rotate(-8deg);
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
   color: white;

   -ms-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
}

.navbar-nav {
  text-align: center;
  background-color: rgba(0,0,0,.90);
  position: relative;
  z-index: 1;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
   color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}


.hvr-underline-from-center {  /* Underline From Center - hover effect*/
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
   overflow: hidden;
 }
 .hvr-underline-from-center:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 51%;
   right: 51%;
   bottom: 0;
   background: rgb(255, 59, 59);
   height: 1px;
   -webkit-transition-property: left, right;
   transition-property: left, right;
   -webkit-transition-duration: 0.45s;
   transition-duration: 0.45s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
 }
 .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
   left: 0;
   right: 0;
 }

 .navbar-default .navbar-text {
   color: #e8d7b5d6;
 }
.navbar-btn {
   background-color: #ff1919;
   border-color: black;
   border-radius: 12px;
   color: white;
   font-weight: bold;
}

.btn.focus, .btn:focus,
.btn:hover {
   color: white;
   background-color: #d20000;
   border-color: black;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#ff1919;
}

/*
*
** CALLOUT CONTAINER
*
*/

.callout-container {
   height: 100vh;

   background: url('../images/dublin_callout.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   display: flex;
   align-items: center;
   justify-content: center;
}

.jumbotron {
   background: rgba(0,0,0,.5);
   border-radius: 100px;
   color: white;
}

.jumbotron h1 {
   letter-spacing: 0.1em;
}

.jumbotron p {
   letter-spacing: 0.1em;
}

/*
*
** HOWTH CONTAINER
*
*/

.howth-container {
  background-color: #f6eded;
  padding-bottom: 25px;
}

/*
*
** PHOENIX PARK CONTAINER
*
*/

.phoenix-park-container {
  background-color: white;
  padding-bottom: 25px;
}

/*
*
** JAMSON CONTAINER
*
*/

.jamson-container {
  background-color: #f6eded;
  padding-bottom: 25px;
}

/*
*
** TEMPLE BAR CONTAINER
*
*/

.temple-bar-container {
  background-color: white;
  padding-bottom: 25px;
}

/*
*
** JAMSON CONTAINER
*
*/

.guinness-container {
  background-color: #f6eded;
  padding-bottom: 25px;
}

/*
*
** CONTACT CONTAINER
*
*/


.container-contact {
  background-color: #c8c8c8;
  padding-bottom: 25px;
}

.offset {
  padding: 0 15px;
}


/*
*
** FOOTER
*
*/

.footer-container {
  background-color: #101010be;
  padding-bottom: 5px;
  color: #fafafa;
}

.footer-container h5 {
  font-size: 1.2em;
}

.destinations {
  list-style: none;
  padding-left: 6px;
}

.destinations a {
  color: #fafafa;
}

.destinations a:hover {
  color: #c7c0c0;
  text-decoration: none;
}

.social-links {
  padding: 0;
}

.social-links li {
  list-style: none;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background-color: #ff1919;
}

/*
*
** MODAL
*
*/

.btn-success:hover {
  color: white;
  background-color: #05a005;
  border-color: black;
}